# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# client
client/node_modules
client/.next

# server
# dependencies
backend/server/node_modules
backend/server/db.js
backend/server/routes/testing
